@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #1a237e;
  background: #e9f1ff;
}

header {
  text-align: center;
  background: linear-gradient(90deg, #71b0f334, #1e62afd8);
  color: white;
  padding: 1rem 2%;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
}

header h1 {
  font-family: "Bebas Neue", sans-serif;
  padding: 0px 11px 0px 13px;
  font-size: 2.3rem;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: #f0f0f0;
  position: relative;
  z-index: 2;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);

}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.logo img {
  width: 4rem;
  height: auto;

}

/* LOGO-------------------- --------------------------------------- */
nav {
  width: 100%;
  padding: 0.4rem 0 1.1rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-size: 1.4rem;
  padding: 0.6rem 1.2rem;
  border-radius: 14px;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
  transition: 
    background-color 0.3s ease-out,
    transform 0.2s ease;
}

nav ul li:hover {
  background-color: rgba(68, 160, 221, 0.795);
  transform: scale(1.05);
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
}
h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

header p {
  font-size: 1.2rem;
  opacity: 0.9;
}

h2 {
  text-align: center;
  color: #4287ef;
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.432);
}

#video-fondo {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(80%);
}


.contenedor-animales {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  margin: 25x auto;
  max-width: 1800px;
}


.tarjeta-animal {
  width: 320px;
  background: linear-gradient(90deg, #7bafe6af, #1b6dcbc6);
  border-radius: 18px;
  padding-bottom: 15px;
  box-shadow: 0 8px 20px rgba(21, 101, 192, 0.25);
  backdrop-filter: blur(4px);
  transition: transform .4s, box-shadow .4s;
  overflow: hidden;
  text-align: center;
}

.tarjeta-animal:hover {
  transform: scale(1.04);
  box-shadow: 0 12px 26px rgba(21, 101, 192, 0.35);
}

.tarjeta-animal img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  filter: brightness(95%);
}

.tarjeta-animal h3 {
  color: white;
  margin: 12px;
  padding: 12px 0;
  font-size: 1.1rem;
}

.titulo-y-voto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tarjeta-animal p {
  color: #152b35;
  font-size: 1.15rem;
  margin: 6px 0;
}

footer {
  text-align: center;
  padding: 25px;
  color: #5ef4ff;
  box-shadow: 0 -2px 12px rgba(21, 101, 192, 0.15);
  margin-top: 40px;
}

.corazon {
    background: rgba(67, 90, 136, 0.774);
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    margin: 12px;
}

.corazon i {
    color: #ffffff;
    font-size: 1.3rem;
    font-style: normal;
}

.corazon span {
    font-size: 0.8rem;
    color: #ffffffd8;
    font-weight: bold;
    margin-top: 0.1rem;
}

.corazon:hover {
    transform: scale(1.165);
}

#check {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}


.burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  padding-left: 1.5rem;
}

.burger span {
  width: 28px;
  height: 3px;
  background: white;
  border-radius: 4px;
}


/* ───────── RESPONSIVE ───────── */
@media (max-width: 768px) {

  .burger {
    display: flex;
  }

  nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: linear-gradient(90deg, #71b0f3, #1e62af);
    display: none;
  }

  #check:checked ~ ul {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
    padding: 1rem;
  }

  .teoria {
    flex-direction: column;
  }

  .teoria_img img {
    height: 220px;
  }
}